<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>HELLO! THIS SITE IS NOT DESIGNED YET</h1>
    <form class="" action="/" method="post">
      <input type="submit" name="login" value="login">
      <input type="submit" name="register" value="register">
    </form>
  </body>
</html>
